<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Yahtzee Home</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body th:onload="'connect(\''+${username}+'\');'">
<noscript>
    <h2>Sorry! Your browser doesn't support Javascript</h2>
</noscript>
<div id="chat-page">
    <div class="chat-container">
        <div class="chat-header">
            <h2>Yahtzee Chat</h2>
        </div>
        <div class="connecting">
            Connecting...
        </div>
        <ul id="messageArea">

        </ul>
        <form id="messageForm" name="messageForm" nameForm="messageForm">
            <div class="form-group">
                <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                    <button type="submit" class="primary">Send</button>
                </div>
            </div>
        </form>
    </div>
    <div class="table-container">
        <table id="scoreboard">
            <thead>
            <tr>
                <th>Combination</th>
                <th id="player1" th:text="${player1}"></th>
                <th id="player2" th:text="${player2}"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="clickComb" onclick="saveCombination('aces')">Aces</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('twos')">Twos</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('threes')">Threes</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('fours')">Fours</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('fives')">Fives</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('sixes')">Sixes</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td>Sum</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td>Bonus</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('threekind')">x3</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('fourkind')">x4</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('full')">Full</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('small')">Small</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('large')">Large</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('chance')">Chance</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td class="clickComb" onclick="saveCombination('yahtzee')">Yahtzee</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            <tr>
                <td>Total</td>
                <td th:class="${player1}">0</td>
                <td th:class="${player2}">0</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="game-container">
        <div class="outer">
            <a id="exitbutton" class="reset-this" th:href="@{/app/secure/back-home(attr='left')}"><i class="fas fa-times fa-3x"></i></a>
            <div class="middle">
                <div class="inner">
                    <span onclick="keepDie(1)" id="die1" class="dice"><input class="diceNumber" type="hidden" value="1"/>
            <svg  viewBox="0 0 24 24">
                <path fill="#fff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z" />
            </svg>
        </span>
                    <span onclick="keepDie(2)" id="die2" class="dice"><input class="diceNumber" type="hidden" value="1"/>
            <svg  viewBox="0 0 24 24">
                <path fill="#fff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z" />
            </svg>
        </span>
                    <span onclick="keepDie(3)" id="die3" class="dice"><input class="diceNumber" type="hidden" value="1"/>
            <svg  viewBox="0 0 24 24">
                <path fill="#fff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z" />
            </svg>
        </span>
                    <span onclick="keepDie(4)" id="die4" class="dice"><input class="diceNumber" type="hidden" value="1"/>
            <svg  viewBox="0 0 24 24">
                <path fill="#fff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z" />
            </svg>
        </span>
                    <span onclick="keepDie(5)" id="die5" class="dice"><input class="diceNumber" type="hidden" value="1"/>
            <svg  viewBox="0 0 24 24">
                <path fill="#fff" d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M12,10A2,2 0 0,0 10,12A2,2 0 0,0 12,14A2,2 0 0,0 14,12A2,2 0 0,0 12,10Z" />
            </svg>
        </span>
                    <h2 id="rollDice">Wait for Player 2</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>