<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Yahtzee Login</title>
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<p th:if="${param.error}" class="error">
    Bad Credentials
</p>
<div class="login-page">
    <div class="form">
        <form class="login-form" th:action="@{/app-login}" method="post">
            <input type="text" placeholder="username" name="app_username"/>
            <input type="password" placeholder="password" name="app_password"/>
            <input type="submit" value="Login"/>
            <p class="message">Not registered? <a th:href="@{/app/register}">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>


